[submodule "services/rubot/app"]
	path = services/rubot/app
	url = git@github.com:rudsvar/rubot

[submodule "services/grand-exchange/app"]
	path = services/grand-exchange/app
	url = git@github.com:rudsvar/grand-exchange

[submodule "services/lift/app"]
	path = services/lift/app
	url = ssh://git@forgejo.cruor.rudsvar.xyz:2222/rudi/lift.git
