* {
    font-family: "DejaVu Sans Mono";
    font-size: 13px;
    border: none;
    border-radius: 0;
    margin: 0;
    padding: 0 6px;
}

window#waybar {
    background-color: transparent;
    color: #777777;
}

/* Workspaces */
#workspaces {
    padding: 0;
}

#workspaces button {
    color: #4a4a4a;
    background-color: transparent;
    border: none;
    padding: 0 4px;
    margin: 0;
}

#workspaces button.focused {
    color: #999999;
}

/* Right modules */
.modules-right label,
.modules-right button {
    border-left: 1px solid #333333;
    padding: 0 12px;
}

.modules-right > widget:first-child > label,
.modules-right > widget:first-child > button {
    border-left: none;
}

.modules-right > widget:last-child > label {
    padding-right: 0;
}

/* Left modules */
#custom-volume,
#custom-updates,
#custom-bluetooth,
#custom-spotify {
    border-left: 1px solid #333333;
    padding: 0 12px;
}

/* Center */
#window {
    color: #555555;
    font-style: italic;
}

/* Colors */
#custom-spotify   { color: #aafaaa; }
#custom-weather   { color: #aaaafa; }
#custom-disk      { color: #fafafa; }
#custom-disk.warning { color: #ff6666; }
#custom-wifi      { color: #aafafa; }
#custom-vpn       { color: #fadfaa; }
#custom-bluetooth { color: #aaaaff; }
#custom-volume    { color: #faaaaa; }
#clock.date       { color: #9c88a6; }
#clock.time       { color: #a6889f; }
#custom-updates   { color: #fafaaa; }
