configuration {
    modi:            "drun,run,window";
    show-icons:      true;
    icon-theme:      "hicolor";
    drun-display-format: "{name}";
    display-drun:    "";
    display-run:     "";
    display-window:  "";
    terminal:        "foot";
}

@theme "transparent"
